# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files / Pickles / Models
*.pickle
*.h5
*.keras
*.pt
*.pth

# TensorBoard logs
errorr1/
logs/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
